<div style="min-height: 305px;">
  <table class="table my-2">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Task</th>
        <th scope="col">category</th>
        <th scope="col">date</th>
        <th scope="col">delete</th>
        <th scope="col">edit <i class="fa fa-edit"></i></th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let task of taskArr; index as i" class="changeMeTr">
        <td>
          {{ i + 1 }}
        </td>
        <td>
          {{ task.name }}
        </td>
        <td>{{ task.category }}</td>

        <td>
          {{ task.date }}
        </td>

        <td>
          <button
            class="btn btn-danger changeMe"
            title="remove task"
            (click)="deleteTask(task)"
          >
            X
          </button>
        </td>
        <td>
          <button
            class="btn btn-warning changeMe"
            title="edit task"
            (click)="editTask(task)"
          >
            edit
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
